// Place all the styles related to the stops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$background: rgba(8, 7, 18, 0.1);
// rgba(114, 45, 63, .11);
// rgba(109, 138, 138, 0.9);

$background_footer_header: rgba(8, 7, 18, 1);


body {
  background: $background;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.8);
}

.time-list {
  display: inline;
    padding-top: 5em;
    li {
      padding-right: 1.5em;
      display: inline;
    }
    .time{
      font-size: 14px;
      font-weight: bold;
    }
    .time-first{
      font-size: 22px;
      font-weight: bold;
    }
    span {
      font-size: 14px;
      padding-left: 0.5em;
    }
  }

.name-direction div{

  font-size: 14px;
  padding-top: 0.2em;
  padding-left: 0.3em;
  margin-bottom: 0.4em;
}

.route {
  text-transform: uppercase;
  font-weight: bold;
}

.route-direction {
  padding-left: 2em;
  font-size: 12px;
  font-weight: bold;
}

.next-bus {
  padding-left: 2em;
  font-size: 14px;
}

.name-direction  {

  margin-top: 10px;
  font-size: 10px;
  //border-radius: 20px;
}


.sf-muni {
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0.5em;
  font-family: monospace;
}

.stops {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  .col-md-12 {

    .header-stop {
      background: rgba(20, 152, 184, 1);
      border-radius: 5px;
    }
  }
}

#map-canvas {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 600px;
}

.all {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 1em;

  div {
    text-align: center;
    margin-bottom: 10px;
    select {
      width: 400px;
    }
  }
}

.message{
  text-align: center;
}
#location{
  text-align: center;
}
.not-avaliable {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#map {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  margin-top: 2em;
}


.street {
  font-weight: bold;
}

.number_route {
  padding-left: 20px;
}

.btn-size {
  margin-top: -8px;
}


// footer

.site-footer{
  position: fixed;
  background: $background_footer_header;
  bottom: 0;
  height: 54px;
  width: 100%;
  .left {
    width: 40%;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    color: rgba(256,256,256, 0.8);
  }
  .right {
    width: 60%;
    float: right;
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
    ul {
      text-decoration: none

    }
    li {
      text-decoration: none;
      display: inline;
    }
  }
}


//header
.header {
  height: 90px;
  margin-top: -25px;
  background-color: $background_footer_header;
  h1{
    padding-top: 30px;
      color: rgba(256,256,256, 0.8);
  }
}

.container {
  margin-top: 30px;
}
