// Place all the styles related to the stops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   background-color: #dadada;
  //background-image: url('stops.jpg');
}
.time-list {
  display: inline;
    padding-top: 5em;
}

.time-list li {
  padding-right: 1.5em;
  display: inline;
}

.time-list .time{
  font-size: 22px;
  font-weight: bold;
}

.time-list .time-first{
  font-size: 30px;
  font-weight: bold;
}

.time-list span {
    font-size: 16px;
    padding-left: 0.5em;
}

.name-direction div{
  background-color: #00afd7; //#0087d7;
  height: 70px;
  font-size: 20px;
  border-radius: 5px;
  padding-top: 0.2em;
  padding-left: 0.3em;
  margin-bottom: 0.4em;
}

.route {
  text-transform: uppercase;
  font-weight: bold;
}

.name-direction  {
  background-color: #00d7ff; //#00afff;
  height: 100%;
  //width: 45%;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 20px;
}
select {
//  height: 45px;
//  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */

  //background-color: #fff;
  //border: 1px solid #D1D1D1;
  //border-radius: 4px;
  //box-shadow: none;
  //box-sizing: border-box;
}
select:focus {
  //border: 1px solid #489dff;
  //outline: 0;
  }


.sf-muni {
  border-radius: 20px;
  font-size: 26px;
  background-color: #0087af;//#00afff;
  height: 60px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1em;
}

.stops {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.all {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 1em;

}
.all div {
  text-align: center;
  margin-bottom: 10px;
}

.all div select {
  width: 400px;
}

.message{
  text-align: center;
}
#location{
  text-align: center;
}
.not-avaliable {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.map {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  margin-top: 2em;
}


.street {
  font-weight: bold;
}

.btn-size {
  margin-top: -8px;
}
